@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&display=swap');
@import "tailwindcss";


@theme {
  --font-bricolage: "Bricolage Grotesque", sans-serif;
  --font-saira: "Saira Extra Condensed", sans-serif;
  --font-jakarta: "Plus Jakarta Sans", sans-serif;
}

:root,
body,
#root {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  background-color: black;
  color: white;
  overflow: hidden;
  font-family: var(--font-jakarta);
}